// Colors
$orange: #fd7e35;

$orange-50: #fff2eb;
$orange-100: #ffe5d7;
$orange-200: #fecbae;
$orange-300: #feb286;
$orange-400: #fd985d;
$orange-500: #fd7e35;
$orange-600: #ca652a;
$orange-700: #984c20;
$orange-800: #653215;
$orange-900: #33190b;

$gray: #6b7280;

$gray-50: #f9fafb;
$gray-100: #f3f4f6;
$gray-200: #e5e7eb;
$gray-300: #d1d5db;
$gray-400: #9ca3af;
$gray-500: #6b7280;
$gray-600: #4b5563;
$gray-700: #374151;
$gray-800: #1f2937;
$gray-900: #111827;

$white: #fff;
$black: #000;

// Fonts
$body-font: "Poppins", sans-serif;
